*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
   height: 100vh;
   background: #000;
   font-family: 'Courier New', Courier, monospace;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
}
.app{
   position: relative;
   width: 300px;
   height: fit-content;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
}
.top, .hidden, .bottom div, .alert{
   display: flex;
   justify-content: center;
   align-items: center;
}
.alert{
   position: absolute;
   top: -50px;
   z-index: 999999;
   left: 50%;
   transform: translateX(-50%);
   height: 40px;
   width: 100%;
   font-size: 20px;
   transition: all 0.03s;
   opacity: 0;
   background-color: #fff;
   padding: 5px 10px;
}
.alert.started, .alert.stopped{
   opacity: 1;
   transition: all 0.05s;
   color: #fff;
   background-color: red;
}
.alert.start, .alert.stop{
   opacity: 1;
   color: #fff;
   background-color: green;
   transition: all 0.05s;
}
.top{
   transform: translateY(50px);
   border-bottom: 1px solid #000;
   background-color: #fff;
   font-size: 25px;
   transition: all 0.03s;
   height: 50px;
   opacity: 0;
}
.top.show{
   transition: all 0.05s;
   opacity: 1;
   transform: translateY(0px);
}
.bottom{
   display: flex;
   height: 70px;
}
.bottom div{
   width: 50%;
   height: 100%;
   cursor: pointer;
   font-size: 25px;
   font-weight: bold;
   background-color: #fff;
   transition: all 0.03s;
   z-index: 9999;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.bottom div:active{
   transform: scale(0.97);
}
.hidden{
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   height: 50px;
   opacity: 0;
   cursor: pointer;
   font-size: 20px;
   font-weight: bold;
   transition: all 0.03s;
   background-color: #fff;
   transform: translateY(-40px);

}
.hidden.show{
   transition: all 0.05s;
   opacity: 1;
   transition: all 0.05s;
   transform: translateY(0px);
}
.hidden:active{
   transform: scale(0.97);
   border-radius: 3px;
}